name: "Flake.lock: Check"

on:
  push:
    branches: [ "main", "testing" ]
  pull_request:
    branches: [ "main" ]

jobs:
  flake-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Install nix
      uses: cachix/install-nix-action@v31

    - name: Run statix (and show fixes if possible)
      shell: nix shell nixpkgs#statix nixpkgs#delta --command bash -euo pipefail {0}
      run: |
        echo "Available fixes (if any):"
        statix fix -d | grep -v '^$' | delta --pager cat
        echo ""
        statix check .

    - name: Run deadnix
      run: nix run nixpkgs#deadnix -- --fail .

