name: "Flake.lock: update inputs"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Flake.lock: update inputs"
          pr-labels: |
            automated
